<template>
  <q-page class="flex flex-center">
    <div>
      <!-- <template v-if="">
      </template>
      <template v-else>
      </template> -->
      <!-- <input type="text" v-model="address"> -->
      <!-- <button @click="setTema">Poner Musica</button> -->

      <AudioPlayer refs="test" address="address"/>

    </div>
  </q-page>
</template>

<script>
import AudioPlayer from '../components/AudioPlayer'
import { EventBus } from '../services/event-bus.js'
//  import util from 'util'
//  import request from 'request-promise-native'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

export default {
  name: 'PageIndex',
  beforeCreate () {
    const next = this.$store.getters.getNextTrack
    if (next === undefined || next === null) {
    //  console.log('Hola!')
      const token = this.$store.getters.getToken
      const uri = `http://localhost:8000/api/playlist/` + token
      fetch(uri, {
        method: 'GET',
        headers: {
        'Content-Type': 'application/json'
      } }).then(response => {
        if (response.status === 200) {
          return response.json()
        }
      })
      .then(datos => {
        this.$store.commit('cargarPlayList', datos)
        this.temaActual = this.$store.commit('NextTrack')
      //  const token = this.$store.getters.getToken
        // this.address = 'http://localhost:8000/api/songs/?songid=15&token=' + token
        // this.address = this.$store.getters.getAddress
       // console.log
        // this.$store.commit('setAddress', this.address)
      // this.$broadcast('load', this.address)
       // this.$refs.test.loadMusic2(this.address)
      })
      .catch(err => {
        if (err) {
      //    console.log('hubo algun problema!')
        }
      })
    } else {
    }
  },
  computed: {
    getNextTrack: function () {
      return 1
    },
    addressTest () {
      return this.address
    }
  },
  data: function () {
    return {
      address: null,
      playlist: [],
      temaActual: null
    }
  },
  components: {
    AudioPlayer
  },
  method: {
    setTema () {
     // this.$refs.test.loadMusic2(this.address)
     // this.$store.commit('setAdress', this.address)
     this.$broadcast('load', this.address)
    },
    setTema2 () {
      this.fetchAudio('http://localhost:8000/api/songs?id=20')
    },
    fetchAudio: async (address) => {
   //   let data = {
    //     method: 'GET',
    //     uri: address
    // }
    try {
       // const req = await request(data)
        Vue.axios.getUri(address).then(function (response) {
        EventBus.$emit('fetchAudio', response)
        })
       // console.log("GET: " + util.inspect(req))
    } catch (error) {
      //  console.log('Error: ' + error.message)
      return false
    }
//    return result
    },
    load: () => {
      EventBus.$emit('loadMusic2', this.address)
    }
  }
}
</script>
