<template>
  <div class="q-pa-md" style="max-width: 400px">
    <h4>Tu PlayList!</h4>
    <h6>Ingresá al sitio</h6>
            <a href="#" v-on:click="register"> <u>Registrate! </u></a>
    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <q-input
        filled
        v-model="username"
        label="Usuario"
        hint="Tu nombre de usuario"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Ingresá tu usuario']"
      />

      <q-input
        filled
        type="password"
        v-model="password"
        label="Ingrese su password"
        hint="Tu contraseña"

        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Ingresá  tu contraseña!',
        ]"
      />
      <div>
        <!-- <button v-on:click="registrar"> Registrate! </button> -->
        <q-btn label="Submit" type="submit" color="primary" />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  name: 'Login',
  methods: {
    onSubmit () {
      const login = {
        username: this.username,
        password: this.password
      }
    const uri = `http://localhost:8000/api/session/?username=` + this.username + '&password=' + this.password
    fetch(uri, {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
        }
      }).then(response => {
        // if (response) {
          return response.json()
        // }
      })
      .then(datos => {
        fetch('http://localhost:8000/api/session/' + datos.token, {
      method: 'GET'
        }).then(res => {
            return res.json()
        }).then(result => {
          this.$q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'power',
            message: 'Bienvenido de vuelta!'
          })
          let token = datos.token
          this.$store.commit('login', { username: login.username, token: token, id: result.id })
        })
      })
      .catch(err => {
        if (err) {
          this.$q.notify({
            color: 'red-4',
            textColor: 'white',
            icon: 'power',
            message: err.message
          })
       //   console.log(err.message)
        }
      })
    },
    onReset: function () {},
    register: function () {
      this.$store.commit('logres')
    }
  },
  computed: {
      registered: function () {
      return this.$store.getters.register
    }
  },
  data: function () {
    return {
      username: '',
      password: '',
      accept: false
    }
  }
}
</script>
