<template>
  <div class="q-pa-md" style="max-width: 400px">
    <h6> Registro </h6>
    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <q-input
        filled
        v-model="username"
        label="Usuario"
        hint="Tu nombre de usuario "
        lazy-rules
        min = 6
        :rules="[ val => val && val.length > 6 && val.length < 30 || 'Please type something' ]"
      />

   <q-input
        filled type="password"
        v-model="password"
        label="password"
        hint="Ingresá tu Password"
        lazy-rules
        min = 6
        :rules="[ val => val && val == repassword|| 'Ingresa tu Password' ]"
      />
       <q-input
        filled type="password"
        v-model="repassword"
        label="password"
        hint="Repetí la password "
        lazy-rules
        min = 6
        :rules="[ val => val && val == password || 'Reingresa tu password' ]"
      />
      <q-input
        filled
        type="mail"
        v-model="mail"
        label="Ingresa tu email"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Por favor, ingresá tu email',
        ]"
      />
       <q-toggle v-model="accept" label="Acepto los términos y condiciones" />
      <div>
        <p>{{mensaje}}</p>
        <!-- <a href="#register"> Registrate! </a> -->
        <a v-on:click="register"> Logeate! </a>
        <br>
        <q-btn label="Submit" type="submit" color="primary" />
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  name: 'Register',
  methods: {
    onSubmit () {
   //   console.log('Hola!')
   if (this.accept) {
        const register = {
        email: this.mail,
        username: this.username,
        password: this.password,
        repeat_password: this.repassword }
        const uri = `http://localhost:8000/api/users/`
        fetch(uri, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(register)
        }).then(response => {
        // if (response) {
        return response.json()
        // }
        })
        .then(datos => {
         // if (this.accept) {
            this.$q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'power',
            message: 'Te has registrado con exito!'
          })
            this.$store.commit('logres')
         // }
      })
      .catch(err => {
        if (err) {
       //   console.log(err.message)
            this.$q.notify({
            color: 'red-4',
            textColor: 'white',
            icon: 'power',
            message: err.message
          })
        }
      })
     } else {
     this.$q.notify({
            color: 'red-4',
            textColor: 'white',
            icon: 'power',
            message: 'No has aceptado las condiciones de uso'
      })
   }
    },
    onReset: function () {},
    onRegister: function () {
      this.$routes.push('register')
    },
    register: function () {
      this.$store.commit('logres')
    }
  },
  data: function () {
    return {
      mail: '',
      username: '',
      password: '',
      accept: false,
      repassword: '',
      isPaswordRep: false,
      mensaje: '' }
  }
    //  method: function soniguales () {
    //  this.isPaswordRep = (this.password === this.repassword)
    //  }
}
</script>
