
<template>
  <q-page class="flex flex-center">
    <h4> Valorá tus géneros musicales preferidos</h4>
     <ul>
      <li v-for="item in generos" v-bind:key="item.genId">
        {{ item.name }}
         <q-rating
        enable
       v-model="item.score"
       :max="10"
       />
<!-- Disabled State -->
      </li>
      <!-- <q-table
    title="Table Title"
    :data="tableData"
    :columns="columns"
  /> -->
    </ul>
      <q-btn label="Submit" type="submit" color="primary" v-on:click="sendValGens" />

  </q-page>
</template>

<script>
 export default {

  beforeCreate (app) {
    const uri = `http://localhost:8000/api/rank/genre/`

    fetch(uri, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    })
      .then(response => {
        if (response.status === 200) {
          return response.json()
        }
      })
      .then(datos => {
      //  console.log(datos)
        datos.forEach(element => {
         console.log(element)
         this.generos.push({
            name: element.name,
            genId: element.id,
            score: element.score
          })
        })
        let genero = this.$store.getters.getValGen
        for (const iterator of genero) {
          let gen = this.generos.find(o => o.genId === iterator.genId)
          console.log(gen)
          if (gen !== undefined || gen !== null) {
            console.log(iterator)
           gen.score = iterator.score
          } else {
          this.$store.commit('addvalgen', genero)
          }
        }
      }
      )
      .catch(err => {
        if (err) {
        //  console.log('hubo algun problema!')
        }
      })
  },
  name: 'home',
  data () {
    return { generos: [],
     ratingModel: 0,
     tableData: this.generos,
     columns: [{
       genId: 'genId',
       score: 'score' }
     ],
     secargo: false
    }
  },
  methods: {
    sendValGens () {
 //     console.log('generos:')
 //     console.log(this.generos)
 //     console.log(JSON.stringify(this.generos))
      const token = this.$store.getters.getToken
      const uri = 'http://localhost:8000/api/rank/genre/' + token
      for (const genero of this.generos) {
        // genero.userId = this.$store.getters.getId
        // console.log(genero.userId)
    fetch(uri, {

      method: 'POST',
      body: JSON.stringify(genero),
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }
    })
      .then(response => {
        if (response.status === 200) {
          return response.json()
        }
      })
      .then(datos => {
         this.$store.commit('addvalgen', genero)
     //   console.log(datos)
      })
    }
    this.$q.loading.show({
  delay: 500 // ms
})
       setTimeout(() => {
      this.$router.push('index')
      this.$q.loading.hide()
      this.$q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'power',
            message: 'Valoraciones cargadas con éxito!'
          })
    }, 500)
  }
  }

}

</script>
