<template>
  <q-page>
    <template v-if="this.tema !== null">
    <!-- <p> Reproduciendo Musica </p>
    <p>Artista: {{artist}}</p>
    <p>Album: {{album}}</p>
    <p>Titulo: {{title}}</p> -->
    <div class="q-pa-md">
    <q-table
      title="Tema Actual"
      dense
      :data="data"
      :columns="columns"
      row-key="name"
    />
  </div>
    <q-rating
        enable
       v-model="valoracion"
       :max="10"
       />
       <button @click="valorar">valorar</button>
    </template>
    <template v-else>Estamos buscando tu informacion </template>
    <div id="waveform"></div>
    <div class="audio-container">
      <div class="row q-ma-md">
        <div class="col-12">
          <div id="waveform"></div>
        </div>
      </div>
    </div>
    <div class="controls row flex flex-center fixed-bottom q-pb-md q-pt-md shadow-10">
      <div class>
        <q-btn
          color="primary"
          flat
          round
          icon="fast_rewind"
          size="xl"
          @click="wavesurfer.skipBackward(1)"
        />
        <q-btn
          v-if="isPlaying"
          color="primary"
          round
          icon="pause"
          size="xl"
          @click="wavesurfer.playPause()"
        />
        <q-circular-progress v-if="isLoading" size="72px" indeterminate color="primary" />
        <q-btn
          v-if="!isPlaying && !isLoading"
          color="primary"
          round
          icon="play_arrow"
          size="xl"
          @click="wavesurfer.playPause()"
        />
        <q-btn
          color="primary"
          flat
          round
          icon="fast_forward"
          size="xl"
          @click="wavesurfer.skipForward(1)"
        />
        <!-- <button @click="loadMusic">load</button> -->
        <button @click="nextMusic">next</button>
        <!-- <input type="text" v-model="address"> -->
      </div>
    </div>
  </q-page>
</template>

<script>
import WaveSurfer from 'wavesurfer.js'
import { EventBus } from '../services/event-bus.js'
//  import { async } from 'q'

export default {

  name: 'PageIndex',
  beforeCreate () {
    const token = this.$store.getters.getToken
    this.address = 'http://localhost:8000/api/songs/?songid=2' + '&token=' + token
  //  this.$q.loading.show({
  //    delay: 2000 // ms
  //  })
    setTimeout(() => {
      const obj = this.$store.getters.getTemaActual
          this.tema = obj
          this.title = obj.title
          this.artist = obj.artist
          this.album = obj.album
          this.wavesurfer.load(this.$store.getters.getAddress)
          this.$q.notify({ color: 'blue',
           message: 'Escuchando: ' + obj.title
           })
    }, 2000)
  },
  data: () => ({
    wavesurfer: null,
    isLoading: false,
    artist: null,
    address: null,
    album: null,
    title: null,
    tema: null,
    valoracion: null,
    columns: [
        {
          name: 'name',
          required: true,
          label: 'Escuchando',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: false
        },
        { name: 'val2', label: '', field: 'val2', sortable: true }
    ]
  }),
   mounted () {
    if (!this.wavesurfer) this.createWaveSurfer()
    EventBus.$on('fetchAudio', req => {
        this.loadFile(req)
    })
    EventBus.$on('loadMusic2', (uri) => {
      this.loadMusic2(uri)
    })
    EventBus.$on('stop', () => {
      this.wavesurfer.stop()
    })
  },
  events: {
    'load': (uri) => {
      this.wavesurfer.load(uri)
    }
  },
  computed: {
    data () {
      return [
      {
        name: 'Artista',
        val2: this.artist
      },
      {
        name: 'Album',
        val2: this.album
      },
      {
        name: 'Titulo',
        val2: this.title
      }
    ]
    },
    isPlaying () {
      if (!this.wavesurfer) return false

      return this.wavesurfer.isPlaying()
    },
    getMusic () {
      return this.$store.getters.address
    }
  },
  methods: {
    createWaveSurfer () {
      this.wavesurfer = WaveSurfer.create({
        container: '#waveform',
        barWidth: 3
      })
      this.wavesurfer.on('ready', this.wavesurfer.play.bind(this.wavesurfer))
  //      this.wavesurfer.load(this.address)
        this.wavesurfer.on('finish', () => {
    //      const token = this.$store.getters.getToken
          // this.$store.commit('NextTrack')
          this.nextMusic()
          // this.wavesurfer.load(this.$store.getters.getAddress)
        })
        this.wavesurfer.on('error', err => {
    this.isLoading = false
    this.$q.notify({ message: err })
})
this.wavesurfer.on('loading', () => {
    this.isLoading = true
})
this.wavesurfer.on('ready', () => {
    this.isLoading = false
      })
    },
    loadMusic () {
     // let address =
      // console.log(address)
      this.wavesurfer.load(this.$store.getters.getAddress)
    // thos.$store.state
    },
      loadMusic2 (uri) {
     // let address =
     // console.log(address)
      this.wavesurfer.load(uri)
    },
    nextMusic: async function () {
      await this.$store.commit('NextTrack')
      const obj = this.$store.getters.getTemaActual
          this.tema = obj
          this.title = obj.title
          this.artist = obj.artist
          this.album = obj.album
          this.$q.notify({ color: 'blue',
           message: 'Escuchando: ' + obj.title
           })
           this.valoracion = null
      this.wavesurfer.load(this.$store.getters.getAddress)
      return obj
    },
    valorar () {
      const id = this.tema.id
      const gen = {
        songId: id,
        genId: this.tema.genId,
        userid: this.$store.getters.getId,
        score: this.valoracion
      }
      const uri = 'http://localhost:8000/api/rank/song/' + this.$store.getters.getToken
      console.log(uri)
         fetch(uri, {
      method: 'POST',
      body: JSON.stringify(gen),
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }
    })
      .then(response => {
        if (response.status === 200) {
          return response.json()
        }
      }).then(datos => {
      //  console.log('llego!')
      //  console.log(datos)
          this.$q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'power',
            message: '' + this.title + ' se ha valorado con éxito!'
          })
      })
      .catch(error => {
      //  console.log(error)
      this.$q.notify({
            color: 'red-4',
            textColor: 'white',
            icon: 'power',
            message: 'Errr:' + error.message
          })
      })
    }
    }
    }
</script>

<style></style>
