<template>
  <div>
    <h1></h1>
    <MainLayout v-if="isLogged"></MainLayout>
    <IntroLayout v-else></IntroLayout>
  </div>
</template>

<script>
import MainLayout from './MainLayout'
import IntroLayout from './IntroLayout'

export default {
  name: 'AppLayout',
  components: {
    MainLayout,
    IntroLayout
  },
  computed: {
    isLogged: function () {
      return this.$store.getters.isLogged
    }
  },
  data: function () {
    return {
      logged: false,
      accept: false
    }
  }
}
</script>
