<template>
      <Login v-if="isRegister" />
      <Register v-else />
</template>

<script>
import Login from '../pages/Login'
import Register from '../pages/Register'

export default {
  name: 'Intro',
  components: {
    Login,
    Register
  },
  computed: {
    isRegister: function () {
      return this.$store.getters.LogResPage
    }
  },
  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>
