<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
         <a v-on:click="index"> TuPlayList! </a>
        </q-toolbar-title>

        <div>Hola {{ getUser }}!</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Actualizá tus valoraciones</q-item-label>
        <q-item clickable tag="a" target="_blank" v-on:click="valgen">
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Géneros</q-item-label>
            <q-item-label caption>Valoralos!</q-item-label>
          </q-item-section>
        </q-item>
        <!-- <q-item clickable tag="a" target="_blank" v-on:click="valsong">
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Tus canciones!</q-item-label>
            <q-item-label caption>Revaloralas!</q-item-label>
          </q-item-section>
        </q-item> -->
       <q-item-label header>Sesión</q-item-label>
        <q-item clickable tag="a" target="_blank" v-on:click="logout">
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Log out</q-item-label>
            <q-item-label caption>Deslogeate del sitio!</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer elevated class="bg-grey-8 text-white">

    </q-footer>
  </q-layout>
</template>

<script>
import { EventBus } from '../services/event-bus.js'

export default {
  name: 'MainLayout',
  beforeCreate: function () {
  //  let generos = this.$store.getters.getMaxValGen
  let uri = 'http://localhost:8000/api/rank/genre/' + this.$store.getters.getToken
 // console.log(uri)
  fetch(uri, {
      method: 'GET'
        }).then(res => {
          return res.json()
        }).then(result => {
          if (result.length > 0) {
   //         console.log(result)
            this.$store.commit('setValGen', result)
            if (this.$store.getters.getMaxValGen === 0) {
     //         console.log('no hay vloraciones')
              this.$router.push('valgen')
            } else {
               this.$router.push('index')
            }
          } else {
            this.$router.push('valgen')
          }
        })
        .catch(error => {
       //   console.log(error)
       if (error) {
       }
         // this.$router.push('valgen')
        })
  },
  computed: {
    getUser () {
      return this.$store.getters.getUserName
    }
  },
  methods: {
    valgen () {
      EventBus.$emit('stop')
      this.$router.push('valgen')
    },
    valsong () {
      EventBus.$emit('stop')
      this.$router.push('valsong')
    },
    logout () {
      EventBus.$emit('stop')
      this.$router.push('/')
      this.$store.commit('logout')
    },
    index () {
      if (this.$route.fullPath !== '/index') {
        this.$router.push('index')
      }
    }
  },
  data () {
    return {
      leftDrawerOpen: false,
      username: '',
      userId: ''
    }
  }
}
</script>
